{% extends "./common/page.njk" %}

{% block content %}
{% endblock content %}

{% block scripts %}
    {{ super() }}
    <script async src="/scripts/index.js" type="module"></script>
{% endblock scripts %}
