{% extends "./common/page.njk" %}

{% block content %}
    <div id="accordion-flush" data-accordion="collapse"
         data-active-classes="bg-white dark:bg-gray-900 text-gray-900 dark:text-white"
         data-inactive-classes="text-gray-500 dark:text-gray-400">
        <h2 id="accordion-flush-heading-1">
            <button type="button"
                    class="flex items-center justify-between w-full py-5 font-medium text-left text-gray-500 border-b
                    border-gray-200 dark:border-gray-700 dark:text-gray-400"
                    data-accordion-target="#accordion-flush-body-1" aria-expanded="true"
                    aria-controls="accordion-flush-body-1">
                <span>A propos</span>
                <svg data-accordion-icon class="w-6 h-6 rotate-180 shrink-0" fill="currentColor" viewBox="0 0 20 20"
                     xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414
                    1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd">
                    </path>
                </svg>
            </button>
        </h2>
        <div id="accordion-flush-body-1" class="hidden" aria-labelledby="accordion-flush-heading-1">
            <div class="py-5 font-medium border-b border-gray-200 dark:border-gray-700">
                <p class="mb-2 text-gray-500 dark:text-gray-400">
                    L'application Chartor permet de visualiser des graphiques sur les informations des Musées de
                    France.<br>
                    L'application utilise Express et Nodejs pour tourner.
                    La liste de bibliothèques utilisées se trouve dans l'onglet 'Packages utilisés'.
                </p>
            </div>
        </div>
        <h2 id="accordion-flush-heading-2">
            <button type="button" class="flex items-center justify-between w-full py-5 font-medium text-left
            text-gray-500 border-b border-gray-200 dark:border-gray-700 dark:text-gray-400"
                    data-accordion-target="#accordion-flush-body-2" aria-expanded="false"
                    aria-controls="accordion-flush-body-2">
                <span>Fichiers sources (.csv)</span>
                <svg data-accordion-icon class="w-6 h-6 shrink-0" fill="currentColor" viewBox="0 0 20 20"
                     xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414
                    1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd">
                    </path>
                </svg>
            </button>
        </h2>
        <div id="accordion-flush-body-2" class="hidden" aria-labelledby="accordion-flush-heading-2">
            <div class="py-5 font-medium border-b border-gray-200 dark:border-gray-700">
                <p class="mb-2 text-gray-500 dark:text-gray-400">
                    Tous les fichiers sources contenant les données affichées sur le site.
                </p>
                <ul id="data_source">
                </ul>
            </div>
        </div>
        <h2 id="accordion-flush-heading-3">
            <button type="button" class="flex items-center justify-between w-full py-5 font-medium text-left
            text-gray-500 border-b border-gray-200 dark:border-gray-700 dark:text-gray-400"
                    data-accordion-target="#accordion-flush-body-3" aria-expanded="false"
                    aria-controls="accordion-flush-body-3">
                <span>Packages utilisés</span>
                <svg data-accordion-icon class="w-6 h-6 shrink-0" fill="currentColor" viewBox="0 0 20 20"
                     xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414
                    1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd">
                    </path>
                </svg>
            </button>
        </h2>
        <div id="accordion-flush-body-3" class="hidden" aria-labelledby="accordion-flush-heading-3">
            <div class="py-5 font-medium border-b border-gray-200 dark:border-gray-700">
                <p class="mb-2 text-gray-500 dark:text-gray-400">La liste des bibliothèques/packages utilisés.</p>
                <ul class="pl-5 text-gray-500 dark:text-gray-400">
                    <li>
                        <a href="https://www.chartjs.org/" class="underline">
                            Chart js
                        </a>
                    </li>
                    <li>
                        <a href="https://tailwindcss.com/" class="underline">
                            Tailwindcss
                        </a>
                    </li>
                    <li>
                        <a href="https://flowbite.com/" class="underline">
                            Flowbite
                        </a>
                    </li>
                    <li>
                        <a href="https://expressjs.com/" class="underline">
                            Express
                        </a>
                    </li>
                    <li>
                        <a href="https://mozilla.github.io/nunjucks/" id="nunjucks" class="underline">
                            Nunjucks
                        </a>
                    </li>
                    <li>
                        <a href="https://www.papaparse.com/" id="papaparse" class="underline">
                            Papaparse
                        </a>
                    </li>
                    <li>
                        <a href="https://nodejs.org/en/" class="underline">
                            Nodejs
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <h2 id="accordion-flush-heading-4">
            <button type="button" class="flex items-center justify-between w-full py-5 font-medium text-left
            text-gray-500 border-b border-gray-200 dark:border-gray-700 dark:text-gray-400"
                    data-accordion-target="#accordion-flush-body-4" aria-expanded="false"
                    aria-controls="accordion-flush-body-4">
                <span>Licence</span>
                <svg data-accordion-icon class="w-6 h-6 shrink-0" fill="currentColor" viewBox="0 0 20 20"
                     xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414
                    1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd">
                    </path>
                </svg>
            </button>
        </h2>
        <div id="accordion-flush-body-4" class="hidden" aria-labelledby="accordion-flush-heading-4">
            <div class="py-5 font-medium border-b border-gray-200 dark:border-gray-700">
                <p class="mb-2 text-gray-500 dark:text-gray-400">
                    Le code source se trouve sous licence
                    <a href="https://www.gnu.org/licenses/quick-guide-gplv3.fr.html" class="underline">GPL-3</a>
                    .
                </p>
                <a href="/license/LICENSE.md" class="underline font-semibold">Télécharger</a>
            </div>
        </div>
    </div>
{% endblock content %}

{% block scripts %}
    {{ super() }}
    <script async src="/scripts/source.js" type="module"></script>
    <script src="/scripts/flowbite.js"></script>
{% endblock scripts %}
