<body>
<div class="container">
    {% include "./header.njk" %}

    {% block content %}
    {% endblock content %}

    {% include "./footer.njk" %}
</div>

{% block scripts %}
{% endblock scripts %}
</body>
