<head>
    <title>{{ title }}</title>

    <link href="/favicon.ico" rel="icon" type="image/x-icon">
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">

    <meta charset="utf-8">
    <meta name="author" content="Axel DAVID">
    <meta name="description" content="L’application Chartor, représentant des graphiques de données sur les
    musées de France.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
