<!DOCTYPE html>
<html lang="fr">
{% include "./head.njk" %}

<body class="antialiased text-slate-500 dark:text-slate-400 bg-white dark:bg-slate-900">

<div class="xl:container xl:mx-auto px-4 flex flex-col h-screen justify-between">
    {% include "./header.njk" %}

    {% block content %}
    {% endblock content %}

    {% include "./footer.njk" %}
</div>

{% block scripts %}
{% endblock scripts %}
</body>
</html>
