<!DOCTYPE html>
<html lang="fr">
{% include "./head.njk" %}

<body>
<div class="container flex flex-wrap items-center justify-between mx-auto">
    {% include "./header.njk" %}

    {% block content %}
    {% endblock content %}

    {% include "./footer.njk" %}
</div>

{% block scripts %}
    <script src="/scripts/toggle_theme.js" type="module"></script>
    <script src="/scripts/toggle_navbar.js" type="module"></script>
{% endblock scripts %}
</body>
</html>
